
.rg-logo-grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  justify-items: center;
}

.rg-logo-container {
  display: grid;
  position: relative;
  width: 400px;
  height: 400px;
  text-align: center;
}

.rg-logo-shape {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
}

.rg-logo-outer-black {
  opacity: 0.8;
  animation: var(--animation-spin) forwards;
}

.rg-logo-inverse-selective-yellow {
  opacity: 0.8;
  animation: var(--animation-shake-x) infinite;
}

.rg-logo-inner-mexican-pink {
  opacity: 0.8;
  animation: var(--animation-shake-y) infinite;
}
