[package]
name = "reactive-graph-behaviour-model-impl"
description = "Reactive Graph - Reactive Behaviours"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../../README.md"

[dependencies]
dashmap = { workspace = true }
log = { workspace = true, features = ["std", "serde"] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
strum = { workspace = true, features = ["derive"] }
strum_macros = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-graph = { version = "0.10.0", path = "../../../graph" }
reactive-graph-reactive-model-api = { version = "0.10.0", path = "../../../reactive/model/api" }
reactive-graph-reactive-model-impl = { version = "0.10.0", path = "../../../reactive/model/impl" }
reactive-graph-behaviour-model-api = { version = "0.10.0", path = "../api" }

[dev-dependencies]
random-string = { workspace = true }

[lib]
crate-type = ["lib"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(tarpaulin_include)'] }
