[package]
name = "reactive-graph-instance-system-api"
description = "Reactive Graph - Instance System - Implementation"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
readme = "../../../README.md"

[dependencies]
async-trait = { workspace = true }
serde_json = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-graph = { version = "0.10.0", path = "../../graph" }
reactive-graph-lifecycle = { version = "0.10.0", path = "../../lifecycle" }
reactive-graph-reactive-service-api = { version = "0.10.0", path = "../../reactive/service/api" }
reactive-graph-reactive-model-api = { version = "0.10.0", path = "../../reactive/model/api" }
reactive-graph-reactive-model-impl = { version = "0.10.0", path = "../../reactive/model/impl" }

[lib]
crate-type = ["lib"]
