graphql-playground {
    display: block;
    margin-left: -250px;
    margin-right: -250px;
}

.graphql-playground-header {
    display: flow-root;
}

.navy :is(.graphql-playground-heading) {
    background-color: #e535ab;
    border-color: #9e9e9e;
    border-radius: 0.6rem 0.6rem 0 0;
    -moz-border-radius: 0.6rem 0.6rem 0 0;
    margin-bottom: 0;
}

.graphql-playground-heading {
    display: block ruby;
    color: #161e26;
    background-color: #e535ab;
    padding: 16px;
    text-align: center;
    /*border-inline-start-width: 0.4rem;*/
    /*border-color: #00b8d4;*/
    /*border-radius: 0.2rem;*/
}

h3.graphql-playground-heading {
    margin-top: 0;
}

.graphql-playground-heading:before {
    content: "";
    display: block;
    background: url("/images/inexor.svg") no-repeat;
    background-size: 25px;
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 10px 0 80px;
}

.graphql-playground-heading:after {
    content: "";
    display: block;
    background: url("/images/graphql-wordmark-white.svg") no-repeat;
    background-size: 100px;
    width: 100px;
    height: 50px;
    float: left;
    margin: 0 10px 0 10px;
}

.graphql-playground-description {
    display: block ruby;
    background-color: rgba(0, 184, 212, 0.1);
    margin: 0;
    /*border-color: #e535ab;*/
    border-right: 3px solid #9e9e9e;
}

.navy :is(.graphql-playground-description):is(.info, .todo) {
    border-left: 3px solid #9e9e9e;
    border-right: 3px solid #e535ab;
    border-radius: 0;
    /*border-color: #e535ab;*/
}

.graphql-playground-description:before {
    content: "";
    display: block;
    mask-image: var(--md-admonition-icon--failure) no-repeat;
    -webkit-mask-image: var(--md-details-icon);
    background-color: #e535ab;
    background-size: 30px;
    width: 30px;
    height: 30px;
    float: left;
    margin: 10px;
}

graphql-playground-container {
    display: block;
    padding: 1px;
    border-left: 3px solid #9e9e9e;
    border-right: 3px solid #e535ab;
    border-bottom: 3px solid #9e9e9e;
    border-radius: 0 0 0.6rem 0.6rem;
    -moz-border-radius: 0 0 0.6rem 0.6rem;
}
