@media only screen and (min-width: 1280px) and (max-width: 1600px) {
    graphql-playground {
        margin-left: -250px;
        margin-right: -250px;
    }
}

@media only screen and (min-width: 1600px) {
    graphql-playground {
        margin-left: -450px;
        margin-right: -450px;
    }
}

graphql-playground {
    display: block;
}

.graphql-playground-header {
    display: flow-root;
}

.navy :is(.graphql-playground-heading) {
    background-color: #e535ab;
    border-color: #9e9e9e;
    border-radius: 0.6rem 0.6rem 0 0;
    -moz-border-radius: 0.6rem 0.6rem 0 0;
    margin-bottom: 0;
}

.graphql-playground-heading {
    display: block ruby;
    color: #161e26;
    background-color: #e535ab;
    padding: 16px;
    text-align: center;
}

h3.graphql-playground-heading {
    margin-top: 0;
}

.graphql-playground-heading:before {
    content: "";
    position: absolute;
    display: block;
    background: url("images/graphql-wordmark-white.svg") no-repeat;
    background-size: 120px;
    width: 120px;
    height: 58px;
    margin: -24px 10px -24px 10px;
}

.graphql-playground-heading:after {
    content: "";
    display: block;
    background: url("images/inexor.svg") no-repeat;
    background-size: 40px;
    width: 40px;
    height: 46px;
    float: right;
    margin: -10px 10px -15px 80px;
}

.graphql-playground-description {
    display: block ruby;
    background-color: rgba(0, 184, 212, 0.1);
    margin: 0;
    border-right: 3px solid #9e9e9e;
}

.navy :is(.graphql-playground-description):is(.info, .todo) {
    border-left: 3px solid #9e9e9e;
    border-right: 3px solid #e535ab;
    border-radius: 0;
}

graphql-playground-container {
    display: block;
    padding: 1px;
    border-left: 3px solid #9e9e9e;
    border-right: 3px solid #e535ab;
    border-bottom: 3px solid #9e9e9e;
    border-radius: 0 0 0.6rem 0.6rem;
    -moz-border-radius: 0 0 0.6rem 0.6rem;
}
