[package]
name = "reactive-graph-reactive-service-impl"
description = "Inexor - Reactive Graph Flow - Reactive - Model"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../../README.md"

[dependencies]
async-trait = { workspace = true }
crossbeam = { workspace = true }
dashmap = { workspace = true }
log = { workspace = true, features = ["std", "serde"] }
path-tree = { workspace = true }
serde_json = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }
tokio = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-behaviour-model-api = { version = "0.10.0", path = "../../../behaviour/model/api" }
reactive-graph-behaviour-service-api = { version = "0.10.0", path = "../../../behaviour/service/api" }
reactive-graph-graph = { version = "0.10.0", path = "../../../graph" }
reactive-graph-runtime-model = { version = "0.10.0", path = "../../../runtime/model" }
reactive-graph-model-flow = { version = "0.10.0", path = "../../../model/flow" }
reactive-graph-reactive-model-api = { version = "0.10.0", path = "../../model/api" }
reactive-graph-reactive-model-impl = { version = "0.10.0", path = "../../model/impl" }
reactive-graph-reactive-service-api = { version = "0.10.0", path = "../api" }
reactive-graph-lifecycle = { version = "0.10.0", path = "../../../lifecycle" }
reactive-graph-type-system-api = { version = "0.10.0", path = "../../../type-system/api" }

[dev-dependencies]
criterion = { workspace = true, features = ["html_reports"] }
default-test = { workspace = true }
log4rs = { workspace = true, features = ["console_appender"] }

reactive-graph-di = { version = "0.10.0", path = "../../../di" }
reactive-graph-graph = { version = "0.10.0", path = "../../../graph", features = ["test"] }
reactive-graph-test-utils = { version = "0.10.0", path = "../../../test-utils" }
# Integration tests needs to import the actual implementations
reactive-graph-type-system-impl = { version = "0.10.0", path = "../../../type-system/impl" }
reactive-graph-behaviour-service-impl = { version = "0.10.0", path = "../../../behaviour/service/impl" }

[lib]
crate-type = ["lib"]

[[bench]]
name = "reactive_entity_manager"
harness = false
