[package]
name = "reactive-graph-flow-impl"
description = "Reactive Graph - Flow - Implementation"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
readme = "../../../README.md"

[dependencies]
async-trait = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }

reactive-graph-graph = { version = "0.10.0", path = "../../graph" }
reactive-graph-lifecycle = { version = "0.10.0", path = "../../lifecycle" }
reactive-graph-flow-api = { version = "0.10.0", path = "../api" }
reactive-graph-flow-model = { version = "0.10.0", path = "../model" }
reactive-graph-type-system-api = { version = "0.10.0", path = "../../type-system/api" }

[lib]
crate-type = ["lib"]

[lints]
workspace = true
