[package]
name = "reactive-graph-runtime-service-api"
description = "Reactive Graph - Runtime - Service - API"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../../README.md"

[dependencies]
async-trait = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-lifecycle = { version = "0.10.0", path = "../../../lifecycle" }

[lib]
crate-type = ["lib"]
