[package]
name = "reactive-graph-flow-model"
description = "Reactive Graph - Flow - Model"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
readme = "../../../README.md"

[dependencies]
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
typed-builder = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-graph = { version = "0.10.0", path = "../../graph" }

[build-dependencies]
anyhow = { workspace = true }
json5 = { workspace = true, optional = true }
toml = { workspace = true, optional = true }

reactive-graph-generator-documentation = { version = "0.10.0", path = "../../generator/documentation" }
reactive-graph-generator-codegen = { version = "0.10.0", path = "../../generator/codegen" }
reactive-graph-graph = { version = "0.10.0", path = "../../graph" }

[features]
default = ["json5", "toml"]
json5 = ["dep:json5"]
toml = ["dep:toml"]

[lib]
crate-type = ["lib"]

[lints]
workspace = true
