[package]
name = "reactive-graph-dynamic-graph-api"
description = "Reactive Graph - Dynamic Graph - API"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
readme = "../../../README.md"

[dependencies]
async-graphql = { workspace = true, features = ["uuid", "dynamic-schema"] }
async-trait = { workspace = true }
serde_json = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }
thiserror = { workspace = true }
uuid = { workspace = true, features = ["serde", "v4"] }

reactive-graph-graph = { version = "0.10.0", path = "../../graph" }
reactive-graph-lifecycle = { version = "0.10.0", path = "../../lifecycle" }
reactive-graph-type-system-api = { version = "0.10.0", path = "../../type-system/api" }
reactive-graph-reactive-service-api = { version = "0.10.0", path = "../../reactive/service/api" }

[lib]
crate-type = ["lib"]
