nav.vertical-menu {
  ul {
    padding-inline-start: 0;

    li {
      display: block;
      padding-inline-start: 0;

      a {
        color: var(--link);
      }

      a:hover {
        text-decoration: none;
        color: var(--mexican-pink);
      }
    }
  }
}

nav.vertical-menu.square ul li,
nav.vertical-menu.pills ul li {
  background-color: var(--accent-color);
  padding: var(--size-1) var(--size-3);
  margin: var(--size-2) var(--size-1);
  line-height: var(--font-lineheight-5);
  border-radius: var(--size-4);

  a {
    color: var(--text-1--inverse);
    font-weight: var(--font-weight-5);
  }

  &:hover {
    background-color: var(--brand);
  }
}

nav.vertical-menu.square ul li {
  border-radius: var(--size-1);
}

nav.vertical-menu.square.size-00 ul li {
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-1);
  line-height: var(--font-lineheight-2);
}

nav.vertical-menu.square.size-0 ul li {
  padding: var(--size-1) var(--size-2);
  font-size: var(--font-size-2);
  line-height: var(--font-lineheight-3);
}

nav.vertical-menu.square.size-1 ul li {
  padding: var(--size-1) var(--size-4);
  font-size: var(--font-size-3);
}

nav.vertical-menu.square.size-2 ul li {
  padding: var(--size-1) var(--size-5);
  font-size: var(--font-size-4);
  line-height: var(--font-lineheight-4);
}

nav.vertical-menu.square.size-3 ul li {
  padding: var(--size-2) var(--size-6);
  font-size: var(--font-size-5);
  line-height: var(--font-lineheight-5);
}

nav.vertical-menu.square.size-4 ul li {
  padding: var(--size-3) var(--size-4);
  font-size: var(--font-size-6);
  line-height: var(--font-lineheight-5);
}

nav.vertical-menu.surface-1 ul li a {
  color: var(--text-1);

  &:hover {
    color: var(--text-2);
  }
}

nav.vertical-menu.pills.surface-1 ul li,
nav.vertical-menu.square.surface-1 ul li {
  background-color: var(--surface-1);
  border: 1px solid var(--surface-2);

  a {
    color: var(--text-1);
  }

  &:hover {
    background-color: var(--text-1);

    a {
      color: var(--text-1--inverse);
    }
  }
}

nav.vertical-menu.surface-2 ul li a {
  color: var(--text-2);

  &:hover {
    color: var(--text-1);
  }
}

nav.vertical-menu.pills.surface-2 ul li,
nav.vertical-menu.square.surface-2 ul li {
  background-color: var(--surface-2);
  border: 1px solid var(--surface-1);

  a {
    color: var(--text-2);
  }

  &:hover {
    background-color: var(--text-2);

    a {
      color: var(--text-2--inverse);
    }
  }
}

nav.vertical-menu.surface-3 ul li a {
  color: var(--text-2);

  &:hover {
    color: var(--text-1);
  }
}

nav.vertical-menu.pills.surface-3 ul li,
nav.vertical-menu.square.surface-3 ul li {
  background-color: var(--surface-3);
  border: 1px solid var(--surface-4);

  a {
    color: var(--text-2);
  }

  &:hover {
    background-color: var(--text-2);

    a {
      color: var(--text-2--inverse);
    }
  }
}

nav.vertical-menu.surface-4 ul li a {
  color: var(--text-1);

  &:hover {
    color: var(--text-2);
  }
}

nav.vertical-menu.pills.surface-4 ul li,
nav.vertical-menu.square.surface-4 ul li {
  background-color: var(--surface-1);
  border: 1px solid var(--surface-3);

  a {
    color: var(--text-1);
  }

  &:hover {
    background-color: var(--surface-2);

    a {
      color: var(--text-2);
    }
  }
}

nav.vertical-menu.malachite ul li a {
  color: var(--malachite-2--adaptive);

  &:hover {
    color: var(--malachite-5--adaptive);
  }
}

nav.vertical-menu.pills.malachite ul li,
nav.vertical-menu.square.malachite ul li {
  background-color: var(--malachite);

  a {
    color: var(--text-1--dark);
  }

  &:hover {
    background-color: var(--malachite-5--adaptive);

    a {
      color: var(--text-1--inverse);
    }
  }
}

nav.vertical-menu.selective-yellow ul li a {
  color: var(--selective-yellow-2--adaptive);

  &:hover {
    color: var(--selective-yellow-5--adaptive);
  }
}

nav.vertical-menu.pills.selective-yellow ul li,
nav.vertical-menu.square.selective-yellow ul li {
  background-color: var(--selective-yellow);

  a {
    color: var(--text-1--dark);
  }

  &:hover {
    background-color: var(--selective-yellow-5--adaptive);

    a {
      color: var(--text-1--inverse);
    }
  }
}

nav.vertical-menu.celestial-blue ul li a {
  color: var(--celestial-blue-2--adaptive);

  &:hover {
    color: var(--celestial-blue-5--adaptive);
  }
}

nav.vertical-menu.pills.celestial-blue ul li,
nav.vertical-menu.square.celestial-blue ul li {
  background-color: var(--celestial-blue);

  a {
    color: var(--text-1--dark);
  }

  &:hover {
    background-color: var(--celestial-blue-5--adaptive);

    a {
      color: var(--text-1--inverse);
    }
  }
}

nav.vertical-menu.mexican-pink ul li a {
  color: var(--mexican-pink-2--adaptive);

  &:hover {
    color: var(--mexican-pink-5--adaptive);
  }
}

nav.vertical-menu.pills.mexican-pink ul li,
nav.vertical-menu.square.mexican-pink ul li {
  background-color: var(--mexican-pink);

  a {
    color: var(--text-1--dark);
  }

  &:hover {
    background-color: var(--mexican-pink-5--adaptive);

    a {
      color: var(--text-1--inverse);
    }
  }
}

nav.vertical-menu.chartreuse ul li a {
  color: var(--chartreuse-2--adaptive);

  &:hover {
    color: var(--chartreuse-5--adaptive);
  }
}

nav.vertical-menu.pills.chartreuse ul li,
nav.vertical-menu.square.chartreuse ul li {
  background-color: var(--chartreuse);

  a {
    color: var(--text-1--dark);
  }

  &:hover {
    background-color: var(--chartreuse-5--adaptive);

    a {
      color: var(--text-1--inverse);
    }
  }
}
