[package]
name = "reactive-graph-runtime-web-impl"
description = "Reactive Graph - Runtime - Web - Implementation"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../../README.md"

[dependencies]
actix-cors = { workspace = true }
actix-http = { workspace = true }
actix-web = { workspace = true, features = ["rustls-0_23"] }
actix-web-extras = { workspace = true }
async-trait = { workspace = true }
crossbeam = { workspace = true }
dashmap = { workspace = true }
http = { workspace = true }
log = { workspace = true, features = ["std", "serde"] }
rustls = { workspace = true }
rustls-pemfile = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
springtime-di = { workspace = true, features = ["threadsafe", "derive"] }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "time", "rt", "rt-multi-thread", "test-util"] }
uuid = { workspace = true }

reactive-graph-config-api = { version = "0.10.0", path = "../../../config/api" }
reactive-graph-config-model = { version = "0.10.0", path = "../../../config/model" }
reactive-graph-lifecycle = { version = "0.10.0", path = "../../../lifecycle" }
reactive-graph-plugin-api = { version = "0.10.0", path = "../../../plugin/api" }
reactive-graph-runtime-service-api = { version = "0.10.0", path = "../../service/api" }
reactive-graph-runtime-web-api = { version = "0.10.0", path = "../api" }
reactive-graph-type-system-api = { version = "0.10.0", path = "../../../type-system/api" }
reactive-graph-type-system-rest = { version = "0.10.0", path = "../../../type-system/rest" }
reactive-graph-type-system-json-schema = { version = "0.10.0", path = "../../../type-system/json-schema" }
reactive-graph-graphql-web = { version = "0.10.0", path = "../../../graphql/web" }
reactive-graph-graphql-api = { version = "0.10.0", path = "../../../graphql/api" }
reactive-graph-dynamic-graph-web = { version = "0.10.0", path = "../../../dynamic-graph/web" }
reactive-graph-dynamic-graph-api = { version = "0.10.0", path = "../../../dynamic-graph/api" }
reactive-graph-reactive-service-api = { version = "0.10.0", path = "../../../reactive/service/api" }
reactive-graph-plugin-graphql-api = { version = "0.10.0", path = "../../../plugin/graphql/api" }
reactive-graph-plugin-graphql-web = { version = "0.10.0", path = "../../../plugin/graphql/web" }
reactive-graph-runtime-graphql-api = { version = "0.10.0", path = "../../graphql/api" }
reactive-graph-runtime-graphql-web = { version = "0.10.0", path = "../../graphql/web" }

[lib]
crate-type = ["lib"]
