name: Pull Request Labeler
run-name: Labeling Pull Request on ${{ github.ref_name }} by @${{ github.actor }}

on:
  - pull_request_target

jobs:
  labeler:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/labeler@v6
