[package]
name = "reactive-graph-type-system-derive"
description = "Reactive Graph - Type System - Derive Macros"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../README.md"

[dependencies]
darling = { workspace = true }
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true, features = ["full"] }

[features]
default = ["json"]
json = []
json5 = []
toml = []
full = ["json", "json5", "toml"]

[lib]
proc-macro = true
